<div class="container w-50 mt-3 bg-light rounded mat-elevation-z24">

    <h1 class="py-2 px-1">
        Forgot Password
    </h1>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordResetLink()">
        <div class="container d-grid gap-3 p-3 m-0 border-0">
            <div class="alert alert-dark" *ngIf="infoState">{{ (infoMessage) }}</div>
            <div class="alert alert-success" *ngIf="successState">{{ (successMessage) }}</div>
            <div class="alert alert-danger" *ngIf="errorState">{{errorMessage}}</div>
            
            <div class="row">
                Email:
                <input class="form-control" type="email" formControlName=userEmail>
                <span class="form-text text-danger"
                    *ngIf="(forgotPasswordForm.get('userEmail')?.touched || formSubmitted) && (forgotPasswordForm.get('userEmail')?.getError('required'))">
                        Email is required
                </span>
                <span class="form-text text-danger"
                    *ngIf="(forgotPasswordForm.get('userEmail')?.touched) && (forgotPasswordForm.get('userEmail')?.getError('pattern'))">
                        Enter a valid email address
                </span>
            </div>
            
            <div class="row">
                <button [disabled]="formSubmitted" class="btn btn-primary">Send Reset Link</button>
            </div>
           
        </div>
    </form>

</div>
