
.main{
  height:100%
 }
 
 
  .word{
   padding:10px;
   }
 
  .data{
  padding:11px;
  }
 
 .container2{
 height:100vh;
 border-radius:10px;
 box-shadow: 3px 3px 15px  black;
 }
 .container1{
 font-size:70px;
  font-weight: bolder;
  width:40%;
  height:80px;
 background-color: #7db7c7;
  position:relative;
  left:30%;
  border-radius:9px;
  padding:20px;
  box-shadow: 3px 3px 15px  black;
 }
 
  .row1{
  display:flex;
   justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    border-radius:15px;
    margin-left:3px;
    margin-right:3px;
   }
 
 .btn1{
  background-color:#AE9CB5;
 }
 
   .col1{
     height:50px;
     font-size:19px;
     margin-top:17px;
     margin-left:40px;
    }
 
   #today{
   margin-right:325px;
   }
 
   .from{
    margin-left:5px;
    margin-right:9px;
   }
 
   .date1{
   margin-right:9px;
   }
 
 .addComment{
 background-color: #b5e2e3;
 margin-top:5px;
 }
 
 .table2{
 background-color:#b7c8db
 }
 
  