<div class="container">
    <div class="container w-100 mt-3 p-0">
        <div class="d-flex flex-row">
            <div class="w-50 bg-light rounded mat-elevation-z24 ms-1">
        
                <h1 class="p-2 fw-bold">
                    Welcome Admin, {{userEmail.split('@')[0]}}
                </h1>
                
            </div>
            <div class="w-50 bg-light rounded mat-elevation-z24 me-1">
        
                <h2 class="p-2">
                    {{curTime.toString().split('GMT')[0]}}
                </h2>
                
            </div>
        </div>
    </div>
    
    <div class="container w-100 mt-3 p-0 rounded mat-elevation-z24">
    
        <mat-expansion-panel class="bg-light" [expanded]="true" (afterExpand)="resetAppointmentTabs()">
            <mat-expansion-panel-header>
                <mat-panel-title> <span class="fw-normal">Appointments</span> </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end">
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-tab-group (selectedTabChange)="resetAppointmentTabs()">
                <mat-tab label="Upcomming Appointments" (click)="appointmentsReset$.next(true)"> 
                    <app-upcomming-appointments [resetToDefaultValues$]="appointmentsReset$"></app-upcomming-appointments>
                </mat-tab>
                <mat-tab label="Past Appointments"> 
                    <app-past-appointments [resetToDefaultValues$]="appointmentsReset$"></app-past-appointments>
                </mat-tab>
            </mat-tab-group>
    
        </mat-expansion-panel>
            
    </div>
    
    <div class="container w-100 mt-3 p-0 rounded mat-elevation-z24">
    
        <mat-expansion-panel class="bg-light" (afterExpand)="resetFeeExpansion()">
            <mat-expansion-panel-header>
                <mat-panel-title> <span class="fw-normal">Add/Update Doctor Consultation Fee</span> </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end">
                    <mat-icon>attach_money</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-update-doctor-consultation-fee [resetToDefaultValues$]="updateFeesReset$"></app-update-doctor-consultation-fee>
    
        </mat-expansion-panel>
            
    </div>
</div>
