<div class="container w-100 mt-3 bg-light rounded mat-elevation-z24">
    <form [formGroup]="searchDataForm" (ngSubmit)="onSearchClick()">
        <div class="d-grid gap-3 p-3 m-0 border-0">

            <div class="row">
                <div class="col-2">
                    <h1>
                        Appointment
                    </h1>
                </div>

                <div class="col-9">
                    <input class="form-control" type="text" placeholder="search by doctor name" formControlName="docName">
                </div>

                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

            <div class="row">
                <div class="col-2 m-2 py-2 border rounded">
                    <div class="row">
                        <div class="col mx-2"><h3>Filters:</h3></div>
                        <div class="col mx-2 ms-0"> 
                            <button type="button" class="btn btn-sm btn-warning" (click)="resetTable()">Reset</button>
                        </div>
                    </div>

                    <div class="row mx-1">
                        Specialization:
                        <select class="form-select" formControlName="docSpecialization">
                            <option value="" disabled selected>choose</option>
                            <option *ngFor="let speciality of specialities" [value]="speciality">{{ speciality }}</option>
                        </select>
                        <span class="form-text text-danger"
                            *ngIf="(searchDataForm.get('docSpecialization')?.touched || searchformSubmitted) && (searchDataForm.get('docSpecialization')?.getError('required'))">
                                Specialization is required
                        </span>
                    </div>
                    <br>

                    <div class="row mx-1">
                        Date:
                        <input class="form-control" type="date" [min]="minDate" formControlName="apmntDate">
                    </div>
                    <br>

                    <div class="row mx-1">
                        City:
                        <input class="form-control form-control-sm" type="text" placeholder="city" formControlName="docCity">
                    </div>
                    <br>

                    <div class="row mx-1">
                        Pincode:
                        <input class="form-control form-control-sm" type="text" (keypress)="onlyNumberKey($event)"
                            placeholder="pincode" pattern="[0-9]{6}" minlength="6" maxlength="6" formControlName="docPincode">
                    </div>
                    <br>

                    <div class="row mx-1">
                        Experience:
                        <select class="form-select" formControlName="docExp">
                            <option selected value="0">0+ years</option>
                            <option *ngFor="let exp of '1,2,3,4,5,6,7,8,9,10'.split(','); let i = index" [value]=i>{{ exp + '+ years' }}</option>
                        </select>
                    </div>
                    <br>

                    <div class="row mx-1"> 
                        <button class="btn btn-secondary" type="button" (click)="showAllDoctors()">Show all Doctors</button>
                    </div>
                </div>

                <div class="col border m-2 rounded">
                    <table mat-table [dataSource]="dataSource" matSort class="w-100 table table-hover table-light dataTopPad">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="specialization">
                            <th mat-header-cell *matHeaderCellDef> Specialization </th>
                            <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
                        </ng-container>

                        <ng-container matColumnDef="experience">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
                            <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
                        </ng-container>

                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> City </th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pincode">
                            <th mat-header-cell *matHeaderCellDef> Pincode </th>
                            <td mat-cell *matCellDef="let element"> {{element.pinCode}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fee">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fee </th>
                            <td mat-cell *matCellDef="let element"> {{element.consultationFee}} </td>
                        </ng-container>

                        <ng-container matColumnDef="book">
                            <th mat-header-cell *matHeaderCellDef> Book </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button type="button" class="btn btn-sm btn-outline-success" (click)="openBookingDialog(element)">Book</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="bg-light"></mat-paginator>
                </div>
            </div>
        </div>
    </form>
</div>
