/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css);

.ng-invalid:not(form) {
    border-left: 5px solid #dc3545;
}

body{
    /* background-image: url("src/assets/images/bg-image.jpg"); */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-bar-success {
    color: white;
    background-color: seagreen;
}

.snack-bar-success .mat-simple-snackbar-action  {
color: lightsteelblue;
}

.snack-bar-error {
color: white;
background-color: firebrick;
}

.snack-bar-error .mat-simple-snackbar-action {
color: gray;
}
