<div class="container w-50 mt-3 bg-light rounded mat-elevation-z24">

    <h1 class="py-2 px-1">
        Reset Password
    </h1>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="d-grid gap-3 p-3 m-0 border-0">

            <div class="alert alert-success" *ngIf="successState">{{ (successMessage) }}</div>
            <div class="alert alert-danger" *ngIf="errorState">{{errorMessage}}</div>

            <div class="row">
                Password:
                <input class="form-control" type="password" formControlName=newPassword>
                <span class="form-text text-danger"
                    *ngIf="(resetPasswordForm.get('newPassword')?.touched || formSubmitted) && (resetPasswordForm.get('newPassword')?.getError('required'))">
                        Password is required
                </span>
                <span class="form-text text-danger"
                    *ngIf="(resetPasswordForm.get('newPassword')?.touched) && (resetPasswordForm.get('newPassword')?.getError('invalidPassword'))">
                        Password is invalid
                </span>
            </div>

            <div class="row">
                Confirm Password:
                <input class="form-control" type="password" formControlName=confirmPassword>
                <span class="form-text text-danger"
                    *ngIf="(resetPasswordForm.get('confirmPassword')?.touched || formSubmitted) && (resetPasswordForm.get('confirmPassword')?.getError('required'))">
                        Confirm Password is required
                </span>
                <span class="form-text text-danger"
                    *ngIf="(resetPasswordForm.get('confirmPassword')?.touched) && (resetPasswordForm.get('confirmPassword')?.getError('passwordMismatch'))">
                        Passwords do not match
                </span>
            </div>

            <div class="form-text">
                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number
            </div>
            
            <div class="row">
                <button [disabled]="successState" class="btn btn-primary">Change</button>
            </div>
           
        </div>
    </form>

</div>